<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="v1" class="com.demo.practicew.Car">
<property name="cost" value="100009"></property>
<property name="name" value="maruthi"></property>
</bean>
<bean id="v9" class="com.demo.practicew.Bike">
<constructor-arg value="10189900"></constructor-arg>
<constructor-arg value="suzuki"></constructor-arg>
</bean>
</beans>
